<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ajsfunctionappjun2023.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/378174ef-bb18-4f2f-959b-3e93552687eb/resourcegroups/ajsFunctionApp-rg/providers/Microsoft.Web/sites/ajsFunctionAppJun2023</ResourceId>
    <UserName>$ajsFunctionAppJun2023</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://ajsfunctionappjun2023.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>